// Daxline Pro
@font-face {
  font-family: 'DaxlinePro';
  font-weight: 300;
  src: url('../fonts/DaxlinePro/DaxlinePro-Light_13129.ttf') format('truetype');
}

@font-face {
  font-family: 'DaxlinePro';
  font-weight: 400;
  src: url('../fonts/DaxlinePro/DaxlinePro-Regular_13131.ttf') format('truetype');
}

@font-face {
  font-family: 'DaxlinePro';
  font-weight: 500;
  src: url('../fonts/DaxlinePro/DaxlinePro-Medium_13130.ttf') format('truetype');
}

@font-face {
  font-family: 'DaxlinePro';
  font-weight: 700;
  src: url('../fonts/DaxlinePro/DaxlinePro-Bold_13127.ttf') format('truetype');
}

@font-face {
  font-family: 'DaxlinePro';
  font-weight: 800;
  src: url('../fonts/DaxlinePro/DaxlinePro-ExtraBold_13128.ttf') format('truetype');
}
