.left-right {
	margin-bottom: 96px;

	.flex-md-row{

		.image-container {
			justify-content: flex-start;
		}

		.text-container{
			display: flex; justify-content: flex-end;

			// Mobile
			@include respond-above( map-get( $grid-breakpoints, 'lg' ) ) {
				padding-left: rem-calc( 20 );
			}
		}
	}

	.image-container {
		display: flex;
		justify-content: flex-end;

		// Mobile
		@include respond-to('md') {
			order: 2;	
		}

		.video-button {
			position: relative;
			background-color: transparent;
			border: none;
			padding: 0;

			&:focus,
			&:active {
				outline: none;
			}

			&:hover {
				.play-container {
					img {
						transform: scale(1.1);
						transition: $global-transition;
					}
				}
			}
		}

		.play-container {
			position: absolute; top: 0; right: 0; bottom: 0; left: 0;

			img {
				max-width: 68px;
				transition: $global-transition;
			}
		}

		img {
			width: 100%; max-width: 605px;
			height: auto;
			object-position: center;

			// Mobile
			@include respond-above( map-get( $grid-breakpoints, 'md' ) ) {
				object-fit: contain;
			}
		}
	}

	.text-container {
		display: flex; align-items: center;
		
		// Mobile
		@include respond-to('md') {
			margin-bottom: 40px;
		}
	}

	.text-subcontainer {
		max-width: 510px;
	}

	&__prehead {
		font-size: 15px;
		line-height: 21px;
		letter-spacing: 1.3px;
		font-weight: map-get( $font-weights, 'semi-bold' );
		font-family: $font;
		color: $blue;
		text-transform: uppercase;
		margin-bottom: 12px;

		// Mobile
		@include respond-to('md') {
			font-size: 14x;
			margin-bottom: 8px;
		}
	}

	&__title {
		font-size: 30px;
		line-height: 36px;
		font-weight: map-get( $font-weights, 'bold' );
		font-family: $font-secondary;
		color: $black-3;
		margin-bottom: 22px;

		// Mobile
		@include respond-to('md') {
			font-size: 20px;
			line-height: 31px;
			font-weight: map-get( $font-weights, 'medium' );
		}
	}

	.wysiwyg {
		max-width: 400px;

		p {
			font-size: 16px;
			line-height: 22px;
			text-align: left;
			color: $black-3;
		}
	}
}
